# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [2]:
string1="today is a great day"
def rev_string(s):
    return s[::-1]

rev_string(string1)

'yad taerg a si yadot'

2. Check if a string is a palindrome.

In [6]:
string2= "RaR"
def check_palindrome(s):
    if s[::]==s[::-1]:
        return "yes the given string is Palindrome"
    else:
        return "No its not an palilndrome"

check_palindrome(string2)

'yes the given string is Palindrome'

3. Convert a string to uppercase.

In [7]:
string3= "great power comes with great responsibilities"

def conv_to_upper(s):
    return s.upper()

conv_to_upper(string3)

'GREAT POWER COMES WITH GREAT RESPONSIBILITIES'

4. Convert a string to lowercase.

In [8]:
string4= 'GREAT POWER COMES WITH GREAT RESPONSIBILITIES'
def conv_to_lower(s):
    return s.lower()

conv_to_lower(string4)

'great power comes with great responsibilities'

5. Count the number of vowels in a string.

In [26]:
string5="These are violations of the code of conduct"
def count_vowel(s):
    s1=[]
    a="a","e","i","o","u","A","E","I","O","U"
    for i in s:
        if i in a:
            s1.append(i)
    return "the count of vowel for given string is", len(s1)

count_vowel(string5)

('the count of vowel for given string is', 16)

In [24]:
len(string5)

43

6. Count the number of consonants in a string.

In [27]:
string6="These are violations of the code of conduct"
def count_consonants(s):
    s1=[]
    a="a","e","i","o","u","A","E","I","O","U"
    for i in s:
        if i not in a:
            s1.append(i)
    return "the count of consonant for given string is", len(s1)

count_consonants(string6)

('the count of consonant for given string is', 27)

7. Remove all whitespaces from a string.

In [33]:
string7="    Great   "
def remove_space(s):
    return s.strip()

remove_space(string7)

'Great'

8. Find the length of a string without using the `len()` function.

In [38]:
string8= "I will learn soon"
count=0
for i in string8:
    count+=1
print(count)

17

9. Check if a string contains a specific word.

In [70]:
string9= "journey begins with first step"
def check_word(s):
    """this function help to find specific word"""
    s1=s.split(" ")
    a=input("type a word you want to search->")
    for i in s1:
        i==a
        return "yes the given word->",a," is available in string"
    return "NO the given word->",a,"is not found"

In [71]:
check_word(string9)

type a word you want to search-> step

('yes the given word->', 'step', ' is available in string')

10. Replace a word in a string with another word.

In [26]:
string10= "keep your work in good standing"

In [34]:
def Replace_word(s):
    w=input('enter a word which you want to replace')
    w1=input('enter a new word which you want to keep')
    s1=s.replace(w,w1)
    return s1

In [35]:
Replace_word(string10)

enter a word which you want to replace your
enter a new word which you want to keep mine

'keep mine work in good standing'

11. Count the occurrences of a word in a string.

In [92]:
s2='my life my rules'
def count_occur(s2,o):
    count=0
    new_s2=s2.split(' ')
    for i in new_s2:
        if i==o:
            count+=1
    print(count)

In [96]:
count_occur(s2,'my')

2

12. Find the first occurrence of a word in a string.

In [5]:
s3="my name is rohit"
def first_occur(s,p):
    a= s.find(p)
    if a >= 0:
        return "the first occurence of given word is at index-", a
    else:
        return " word not found"

In [9]:
first_occur(s3,'rohit')

('the first occurence of given word is at index-', 11)

13. Find the last occurrence of a word in a string.

In [15]:
def Last_occur(s,w):
    a=s.rfind(w)
    if a>=0:
        return "The last occurrence of given word is at indext-", a
    else:
        return "word not found"

In [3]:
s4=" the cricket is my faviourate game, and i love to play cricket"

In [53]:
Last_occur(s4,"cricket")

('The last occurrence of given word is at indext-', 55)

14. Split a string into a list of words.

In [13]:
def split_str(s):
    print( s.split())

In [14]:
split_str(s4)

['the', 'cricket', 'is', 'my', 'faviourate', 'game,', 'and', 'i', 'love', 'to', 'play', 'cricket']

15. Join a list of words into a string.

In [19]:
a=['my','age','is','29']
def join_to_str(s):
    return ' '.join(s)

In [20]:
join_to_str(a)

'my age is 29'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [14]:
Str1= "I will visit your office"
def Replace_space(s):
    return s.replace(' ','_')

In [16]:
Replace_space(Str1)

'I_will_visit_your_office'

17. Check if a string starts with a specific word or phrase.

In [11]:
def Starts_with(s,Word):
    New_s=s.split()
    if New_s[0]==Word:
        return "yes the given string start with", Word
    else:
        return "No the given string does not start with", Word

In [12]:
a= "My Name is Rohit"
Starts_with(a,'My')

('yes the given string start with', 'My')

18. Check if a string ends with a specific word or phrase.

In [13]:
s1="I love to watch cricket"

def Ends_with(string,word):
    Newstring=string.split()
    if Newstring[-1]==word:
        return "yes the string ends with",word
    else:
        return "No the string does not ends with", word

In [16]:
Ends_with(s1,'cricket')

('yes the string ends with', 'cricket')

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [10]:
str1="hello world"
def Convert_title(string):
    return string.title()

Convert_title(str1)

'Hello World'

20. Find the longest word in a string.

In [56]:
str2= "You have to be very quick "
def find_longest_word(s):
    new=s.split()
    from functools import reduce
    return "The longest word in given string is-", reduce(lambda a,b: a if len(a)>=len(b) else b, new)

In [47]:
find_longest_word(str2)

('The longest word in given string is-', 'quick')

 21. Find the shortest word in a string.

In [59]:
str2= "You have to be very quick"
def find_smallest_word(s):
    n=s.split()
    from functools import reduce
    return "The smallest word in given string is -", reduce(lambda a,b: a if len(a)<=len(b) else b,n)

In [60]:
find_smallest_word(str2)

('The smallest word in given string is -', 'to')

22. Reverse the order of words in a string.

In [96]:
a='my name is rohit'
def rev_str(s):
    new=s.split()
    a= list(map(lambda a:a[::-1],new))
    return ' '.join(a)

In [97]:
rev_str(a)

'ym eman si tihor'

 23. Check if a string is alphanumeric.

In [170]:
str1= "Myname1"
def check_alnum(s):
    if s.isalnum():
        return "yes the string is alphanumeric"
    else:
        return "no the string is not an alphanumeric"

In [171]:
check_alnum(str1)

'yes the string is alphanumeric'

 24. Extract all digits from a string.

In [180]:
str2="123Rohit456"
def extract_digits(s):
    new=list(s)
    digits=[]
    for i in new:
        if i.isdigit():
            digits.append(i)
    return ''.join(digits)

In [181]:
extract_digits(str2)

'123456'

 25. Extract all alphabets from a string.

In [183]:
str3="123Rohit4567"
def extract_alpha(s):
    new=list(s)
    alpha=[]
    for i in new:
        if i.isalpha():
            alpha.append(i)
    return "".join(alpha)

In [184]:
extract_alpha(str3)

'Rohit'

 26. Count the number of uppercase letters in a string.

In [193]:
str4="this Is StrinG worlD - ABCD"
def Count_upletter(s):
    count=0
    for i in s:
        if i.isupper():
            count+=1
    return count

In [194]:
Count_upletter(str4)

8

 27. Count the number of lowercase letters in a string.

In [195]:
str5="I will count thE lower LETTERS"
def count_lowerletter(s):
    count=0
    for i in s:
        if i.islower():
            count+=1
    return count

In [196]:
count_lowerletter(str5)

16

 #28. Swap the case of each character in a string.

In [197]:
str6="I will Swap The case of CharacteR"
def swap_the_case(s):
    new_str=s.swapcase()
    return new_str

In [198]:
swap_the_case(str6)

'i WILL sWAP tHE CASE OF cHARACTEr'

 29. Remove a specific word from a string.

In [201]:
str7="this function will remove specific word"
def word_remover(s,word):
    new_s=s.split()
    string=[]
    for i in new_s:
        if i!=word:
            string.append(i)
    return " ".join(string)

In [203]:
word_remover(str7,'function')

'this will remove specific word'

30. Check if a string is a valid email address.

In [207]:
import re

def Check_Valid_email(email):
    pattern=r'^[\w\.]+@[\w\.]+\.\w+$'
    if re.match(pattern,email):
        return "Yes the email id is valid"
    else:
        return "No the email id is not correct"

In [208]:
email1='rohitdeval6@gmail.com'
Check_Valid_email(email1)

'Yes the email id is valid'

In [209]:
email2="rohit.com"
Check_Valid_email(email2)

'No the email id is not correct'

 31. Extract the username from an email address string.

In [1]:
def extract_username(s):
    user_id= s.split('@')[0]
    return user_id

In [3]:
email1='rohitdeval6@gmail.com'
extract_username(email1)

'rohitdeval6'

 32. Extract the domain name from an email address string.

In [4]:
def extract_domain(s):
    domain_name=s.split('@')[1]
    return domain_name

In [5]:
email1='rohitdeval6@gmail.com'
extract_domain(email1)

'gmail.com'

33. Replace multiple spaces in a string with a single space.

In [34]:
str1= "Hi my            name  is   Rohit"
def extraspace_remover(s):
    new_string = s.split()
    return ' '.join(new_string)

In [35]:
extraspace_remover(str1)

'Hi my name is Rohit'

 34. Check if a string is a valid URL.

In [111]:
string1="www.google.com"
if string1.startswith('www') or string1.startswith('http')and string1.endswith(".com"):
    print("Yes its a valid URL")
else:
    print("No its a valid Url")

Yes its a valid URL

 35. Extract the protocol (http or https) from a URL string.

In [112]:
string2="https://www.google.com"
if string2.startswith("https"):
    print("https")
elif string2.startswith("http"):
    print("http")
else:
    print("invalid url")

https

 36. Find the frequency of each character in a string.

In [68]:
str4='i will play cricket in evening'
def count_character(s):
    count={}
    for i in s:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    return count

In [69]:
count_character(str4)

{'i': 5,
 ' ': 5,
 'w': 1,
 'l': 3,
 'p': 1,
 'a': 1,
 'y': 1,
 'c': 2,
 'r': 1,
 'k': 1,
 'e': 3,
 't': 1,
 'n': 3,
 'v': 1,
 'g': 1}

 37. Remove all punctuation from a string.

In [118]:
def Remove_puctuation(s):
    b=[]
    for i in s:
        if i.isalnum():
            b.append(i)
        elif i.isspace():
            b.append(i)
    return ''.join(b)

In [120]:
a="Hey!! This will!!!! be____ amazing"
Remove_puctuation(a)

'Hey This will be amazing'

 38. Check if a string contains only digits.

In [121]:
def check_digit(s):
    if s.isdigit():
        return "yes the string contains only digit"
    else:
        return "No the string does not contians only digits"

In [134]:
str1='123456'

In [135]:
check_digit(str1)

'yes the string contains only digit'

 39. Check if a string contains only alphabets.

In [136]:
def check_alpha(s):
    if s.isalpha():
        print("yes the string contains only alpha")
    else:
        print("No the string does not contain only alpha")

In [137]:
string="HelloMySir"
check_alpha(string)

yes the string contains only alpha

 40. Convert a string to a list of characters.

In [140]:
def convert_to_characters(s):
    return list(s)

In [142]:
string="go to the work"
convert_to_characters(string)

['g', 'o', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 'w', 'o', 'r', 'k']

 41. Check if two strings are anagrams.

In [152]:
def Check_anagrams(s1,s2):
    a=s1.replace(" ","").lower()
    b=s2.replace(" ","").lower()
    if sorted(a)==sorted(b):
        return "Yes the string's are anagrams"
    else:
        return "NO the string's not  an anagrams"

In [153]:
str1="Tough"
str2="ought"

Check_anagrams(str1,str2)

"Yes the string's are anagrams"

 42. Encode a string using a Caesar cipher.

In [ ]:
str4='i will play cricket in evening'
def count_character(s):
    count={}
    for i in s:
        if i in count:
            count[i]+=1
        else:
            count[i]=1
    return count

In [201]:
list1="my name is rohit"
list2="abcdefghijklmnopqrstuvwxyzabcd"
encode=[]
for i in list1:
    if i in list2:
        encode.append(list2.index(i))
print("Encode message")
for i in encode:
    print(list2[i+3],end='')

Encode message
pbqdphlvurklw

43. Decode a Caesar cipher encoded string.

In [210]:
caser_msg="pbqdphlvurklw"
alpha_list="xyzabcdefghijklmnopqrstuvw"
decode_msg=[]
for i in caser_msg:
    if i in alpha_list[::-1]:
        decode_msg.append(alpha_list.index(i))
for i in decode_msg:
    print(alpha_list[i-3],end='')

decode_msg

mynameisrohit

[18, 4, 19, 6, 18, 10, 14, 24, 23, 20, 13, 14, 25]

 44. Find the most frequent word in a string.

In [31]:
def most_frequet_word(word):
    new_word=word.split()
    count=1
    for i in new_word:
        c=new_word.count(i)
        if c>count:
            count =c
            nword=i
    print("The most frequent word is->", nword, "and it appeared", count,'times')

In [32]:
string="i will watch tv and the will play cricket"
most_frequet_word(string)

The most frequent word is-> will and it appeared 2 times

45. Find all unique words in a string.

In [122]:
def find_unique_word(s):
    unique_word=set(s.split())
    print("The most unique words are->", unique_word)

In [125]:
str1="i will watch tv and the will play cricket"
find_unique_word(str1)

The most unique words are-> {'cricket', 'play', 'and', 'watch', 'i', 'the', 'will', 'tv'}

 46. Count the number of syllables in a string.

In [139]:
def count_syllables(s):
    new_s=s.lower()
    count=0
    vowel='aeiou'
    for i in new_s:
        if i in vowel:
            count+=1
    print('In the given string found', count, 'syllables')

In [140]:
str1='Rohit'

In [141]:
count_syllables(str1)

In the given string found 2 syllables

 47. Check if a string contains any special characters.

In [153]:
def check_spchar(s):
    w=''.join(s)
    if w.isalnum():
        return "No the string does not have any special character"
    else:
        return "yes the string has special character"

In [154]:
str2="my name is Rohit_"
check_spchar(str2)

'yes the string has special character'

 48. Remove the nth word from a string.

In [178]:
def Nth_word_remover(s,Nth):
    new_s=s.split()
    modified=[]
    for i in new_s:
        if i!=new_s[Nth]:
            modified.append(i)
    return ' '.join(modified)

In [179]:
str2="my name is Rohit_"
Nth_word_remover(str2,1)

'my is Rohit_'

 49. Insert a word at the nth position in a string.

In [64]:
def insert_word(s,w,n):
    #s will be string
    #w will be the word we want to put
    #n will be the index position
    sn=s.split()
    modified_s=sn[:n]+[w]+sn[n:]
    return ' '.join(modified_s)

In [65]:
insert_word(s,'are',2)

'my name are is rohit'

 50. Convert a CSV string to a list of lists.

In [66]:
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

In [84]:
def convert_csv(s):
    a= s.split('\n')
    for i in a:
        print([i])

In [85]:
convert_csv(csv_data)

['Name, Age, Country']
['John, 25, USA']
['Alice, 30, Canada']
['Bob, 22, UK']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [1]:
first_list=[1,2,3,4,5,6,7,8,9,10]
print(first_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [2]:
l1=['my','name','is','Rohit']
def count_len(l):
    count=0
    for i in l:
        count+=1
    return count

In [4]:
count_len(l1)

4

 3. Append an element to the end of a list.

In [15]:
def Append_at_end(l,element):
    return l+[element]

In [16]:
l2=['I','will','run']
Append_at_end(l2,'fast')

['I', 'will', 'run', 'fast']

 4. Insert an element at a specific index in a list

In [18]:
def insert_word(l,word,index):
    #l- list
    #word - please enter a word
    #index - please enter a position you want to put word
    return l[:index]+[word]+l[index:]

In [19]:
l3=[1,2,3,4,5]
insert_word(l3,'Rohit',2)

[1, 2, 'Rohit', 3, 4, 5]

5. Remove an element from a list by its value.

In [38]:
def remove_element(l,element):
    new_list=[]
    for i in l:
        if i!=element:
            new_list.append(i)
    return new_list

In [39]:
l4=['i','will','you']
remove_element(l4,'you')

['i', 'will']

 6. Remove an element from a list by its index.

In [78]:
def remove_index(l,index):
    return l[:index]+l[index+1:]

In [81]:
l5=['A','B','C','D']
remove_index(l5,2)

['A', 'B', 'D']

 7. Check if an element exists in a list.

In [102]:
def check_element(l,element):
    if element in l:
        print('yes the',element, 'found in list')
    else:
        print('no the',element,'not found in list')

In [103]:
l6=['first','last','start']
check_element(l6,'start')

yes the start found in list

 8. Find the index of the first occurrence of an element in a list

In [107]:
def first_occur(l,element):
    return "it first appeared at position", l.index(element)

In [111]:
l7=[1,2,3,4,5,2,3,4]
first_occur(l7,3)

('it first appeared at position', 2)

 9. Count the occurrences of an element in a list.

In [122]:
def count_occurence(l,element):
    count=0
    for i in l:
        if i==element:
            count+=1
    print(element, 'appeared', count, 'times in a list')

In [123]:
l8= [1,2,3,3,3,2,4,5,3]
count_occurence(l8,3)

3 appeared 4 times in a list

 10. Reverse the order of elements in a list

In [126]:
def reverse_list(l):
    return l[::-1]

In [127]:
l8

[1, 2, 3, 3, 3, 2, 4, 5, 3]

In [128]:
reverse_list(l8)

[3, 5, 4, 2, 3, 3, 3, 2, 1]

 11. Sort a list in ascending order

In [132]:
def sort_list(l):
    return sorted(l)

In [133]:
l8

[1, 2, 3, 3, 3, 2, 4, 5, 3]

In [134]:
sort_list(l8)

[1, 2, 2, 3, 3, 3, 3, 4, 5]

 12. Sort a list in descending order.

In [140]:
def sort_to_descending(l):
    a=sorted(l)
    return a[::-1]

In [141]:
l8

[1, 2, 3, 3, 3, 2, 4, 5, 3]

In [142]:
sort_to_descending(l8)

[5, 4, 3, 3, 3, 3, 2, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [156]:
l=list(range(1,21))
new_list=[]
for i in l:
    if i%2==0:
        new_list.append(i)
print( new_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20

In [161]:
l=list(range(1,21))
n_list=[]
for i in l:
    if i%2!=0:
        n_list.append(i)
print(n_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

 15. Find the sum of all elements in a list.

In [166]:
l1=list(range(1,6))
total=0
for i in l1:
    total+=i
print(total)

15

16. Find the maximum value in a list.

In [167]:
l2=[1,2,4,5,6,3]
maximum=max(l2)
print("The maximum value in list is",maximum)

The maximum value in list is 6

 17. Find the minimum value in a list

In [169]:
l2=[1,2,4,5,6,3]
minimum=min(l2)
print("The minimum vallue in list is", minimum)

The minimum vallue in list is 1

18. Create a list of squares of numbers from 1 to 10

In [190]:
def create_sqlist(l):
    square=[]
    for i in l:
        square.append(i**2)
    return square

In [191]:
l3=[1,2,3,4,5,6,7,8,9,10]
create_sqlist(l3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

 19. Create a list of random numbers.

In [227]:
import random
new_list=[]
for i in range(10):
    i=random.randint(1,50)
    new_list.append(i)
print("the random list is", new_list)

the random list is [7, 21, 11, 27, 12, 45, 6, 31, 36, 35]

20. Remove duplicates from a list

In [228]:
def remove_duplicates(l):
    return list(set(l))

In [229]:
l4=[1,1,2,2,3,3,4,4]
remove_duplicates(l4)

[1, 2, 3, 4]

 21. Find the common elements between two lists.

In [232]:
def find_common(l1,l2):
    common=[]
    for i in l1:
        if i in l2:
            common.append(i)
    return 'the common elements', common

In [233]:
l1=[1,2,3,4,22,21]
l2=[2,33,21,4]
find_common(l1,l2)

('the common elements', [2, 4, 21])

22. Find the difference between two lists.

In [260]:
def find_differ(l1,l2):
    l3=l1+l2
    different=[]
    for i in l3:
        if i not in l2:
            different.append(i)
        elif i not in l1:
            different.append(i)
    print('the differen between two list is', different)

In [261]:
l1=[1,2,3,4,22,21]
l2=[2,33,21,4]
find_differ(l1,l2)

the differen between two list is [1, 3, 22, 33]

23. Merge two lists.

In [262]:
l1=[1,2,3,4,22,21]
l2=[2,33,21,4]
merge_list=l1+l2
print(merge_list)

[1, 2, 3, 4, 22, 21, 2, 33, 21, 4]

24. Multiply all elements in a list by 2

In [277]:
def multiply_2(l):
    mulitplied_list=[]
    for i in l:
        i=i*2
        mulitplied_list.append(i)
    return mulitplied_list

In [278]:
l=[1,2,3,4,5]
multiply_2(l)

[2, 4, 6, 8, 10]

 25. Filter out all even numbers from a list.

In [279]:
def find_even(l):
    even=[]
    for i in l:
        if i%2==0:
            even.append(i)
    return even

In [280]:
l1=[1,2,3,4,5,6,7,8,7,8,9,10]
find_even(l1)

[2, 4, 6, 8, 8, 10]

 26. Convert a list of strings to a list of integers.

In [294]:
a=['1','2','3','4']
b=[]
for i in a:
    i=int(i)
    b.append(i)
print(b)

[1, 2, 3, 4]

 27. Convert a list of integers to a list of strings.

In [295]:
l=[1,2,3,4,5]
c=[]
for i in l:
    i=str(i)
    c.append(i)
print(c)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [369]:
nest = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

def nested_list(l):
    b=[]
    for sub in l:
        for i in sub:
            i=str(i)
            b.append(i)
    return b

In [371]:
nested_list(nest)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

29. Create a list of the first 10 Fibonacci numbers.

In [398]:
def fib_series(n):
    f1=0
    f2=1
    nextfib=f2
    count=1
    fib=[]
    while count <=n:
        fib.append(nextfib)
        f1,f2=f2,nextfib
        nextfib=f1+f2
        count+=1
    return fib

In [400]:
fib_series(10)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

30. Check if a list is sorted

In [37]:
def check_sort(l):
    if l==sorted(l):
        print("Yes the list is sorted")
    else:
        print("No the list is not sorted")

In [39]:
list1=[1,3,4,5,6,0]
check_sort(list1)

No the list is not sorted

In [40]:
a=[1,2,4,5,6,6,7,]
check_sort(a)

Yes the list is sorted

31. Rotate a list to the left by `n` positions.

In [41]:
def Rotate_list_left(l,n):
    n=n%len(l)
    modified_list=l[n:]+l[:n]
    return modified_list

In [43]:
list1=[1,2,3,4,5,6]
Rotate_list_left(list1,2)

[3, 4, 5, 6, 1, 2]

 32. Rotate a list to the right by `n` positions.

In [70]:
def Rotate_list_right(l,n):
    n=n%len(l)
    modified_list=l[-n:]+l[:-1]
    return modified_list

In [71]:
list1=[1,2,3,4,5,6]
Rotate_list_right(list1,4)

[3, 4, 5, 6, 1, 2, 3, 4, 5]

 33. Create a list of prime numbers up to 50

In [7]:
def get_prime(n):
    list1=[]
    list2=range(2,n+1)
    prime=[]
    for i in range(2,n+1):
        for j in range(2,n+1):
            if j<i and i%j==0:
                list1.append(i)
    for i in list2:
        if i not in list1:
            prime.append(i)
    return prime

In [8]:
get_prime(15)

[2, 3, 5, 7, 11, 13]

 34. Split a list into chunks of size `n`

In [87]:
n=4
end=len(list1)
list1=['a','b','c','d','e','f','g','h','i']
for i in range(0,end,n):
    print(list1[i:i+n])

['a', 'b', 'c', 'd']
['e', 'f', 'g', 'h']
['i']

 35. Find the second largest number in a list.

In [222]:
def second_largest(l):
    a=sorted(l)
    print('the second largest number is', a[-2])

In [223]:
list2=[5,4,3,2,1]
second_largest(list2)

the second largest number is 4

 36. Replace every element in a list with its square

In [226]:
def replace_to_square(l):
    sq_list=[]
    for i in l:
        i=i**2
        sq_list.append(i)
    return sq_list

In [228]:
list2=[5,4,3,2,1]
replace_to_square(list2)

[25, 16, 9, 4, 1]

 37. Convert a list to a dictionary where list elements become keys and their 
indices become values.

In [22]:
list1=["my","name","is","rohit"]
converted_to_dictionary= {i:list1.index(i) for i in list1}
converted_to_dictionary

{'my': 0, 'name': 1, 'is': 2, 'rohit': 3}

38. Shuffle the elements of a list randomly

In [248]:
import random
my_list=[1,2,4,5,5,6,74,4,5,4,2,11,12]
random.shuffle(my_list)
print(my_list)

[11, 1, 12, 5, 4, 2, 4, 74, 4, 5, 5, 6, 2]

39. Create a list of the first 10 factorial numbers

In [255]:
def facto(l):
    if l==0 or l==1:
        return 1
    else:
        return l*facto(l-1)
factorial=[facto(i) for i in range(10)]
print(factorial)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

 40. Check if two lists have at least one element in common

In [304]:
l1=[1,2,3,4]
l2=[5,6,6,4]
def check_for_common(l1,l2):
    a=False
    for i in l1:
        if i in l2:
            a=True
    if a:
        print("There is common element")
    else:
        print("no common element found")

In [305]:
check_for_common(l1,l2)

There is common element

 41. Remove all elements from a list.

In [315]:
list1=['r','o','h','i','t']
list1.clear()
print("Clear_list:", list1)

Clear_list: []

 42. Replace negative numbers in a list with 0.

In [318]:
a=[1,2,3,-2,-1]
b=[]
for i in a:
    if i<0:
        b.append(int(i==0))
    else:
        b.append(i)
print(b)

[1, 2, 3, 0, 0]

 43. Convert a string into a list of words

In [321]:
string1= 'my name is rohit'
list1= string1.split()
print(list1)

['my', 'name', 'is', 'rohit']

 44. Convert a list of words into a string

In [322]:
list=['my', 'name', 'is', 'rohit']
string2=' '.join(list)
print(string2)

my name is rohit

 45. Create a list of the first `n` powers of 2.

In [336]:
n=10
a=[]
for i in range(n+1):
    i=2**i
    a.append(i)
print('the',n, 'powers of 2 are', a)

the 10 powers of 2 are [1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

 46. Find the longest string in a list of strings

In [358]:
from functools import reduce
def longest_string(l):
    maxstr=reduce(lambda x,y: x if len(x)>len(y) else y,l)
    print('The longest string is->', maxstr)

In [359]:
a=['my','name','is',"Rohit"]
longest_string(a)

The longest string is-> Rohit

47. Find the shortest string in a list of strings

In [361]:
from functools import reduce
def shortest_str(l):
    minstr=reduce(lambda x,y: x if len(x)<len(y) else y,l)
    print('The shortest string is->', minstr)

In [362]:
a=['my','name','is',"Rohit"]
shortest_str(a)

The shortest string is-> is

48. Create a list of the first `n` triangular numbers

In [18]:
def triangular_numbers(n):
    triangular_list=[]
    for i in range(1,n+1):
        i=i*(i+1)//2
        triangular_list.append(i)
    return triangular_list

In [19]:
triangular_numbers(5)

[1, 3, 6, 10, 15]

 49. Check if a list contains another list as a subsequence

In [42]:
def check_subsequence(s1,s2):
    for element in s2:
        if element in s1:
            continue
        else:
            return "it does not contain another list as a subsequense"
    return "it does contain another list as a subsequense"

In [43]:
l1=[1,2,3,4,5,6,7,8,9]
l2=[2,9,15]
check_subsequence(l1,l2)

'it does not contain another list as a subsequense'

50. Swap two elements in a list by their indices.

In [45]:
list =[1,2,3,4,5,6]
index1=2
index2=5

list[index1],list[index2]=list[index2],list[index1]
print("The list after swapping",list)    #list after swapping

The list after swapping [1, 2, 6, 4, 5, 3]

### Tuple Based Practice Problem :

 1. Create a tuple with integers from 1 to 5.

In [47]:
t1=(1,2,3,4,5) 

print("This is my 1st tuple with integers", t1)

This is my 1st tuple with integers (1, 2, 3, 4, 5)

 2. Access the third element of a tuple.

In [49]:
t1=(1,2,3,4,5) 
third_element=t1[2]
print("the 3rd element of tuple is:",third_element)

the 3rd element of tuple is: 3

 3. Find the length of a tuple without using the `len()` function.

In [53]:
t1=(1,2,3,4,5)
count=0
for i in t1:
    count+=1
print("The length of tuple:",count)

The length of tuple: 5

 4. Count the occurrences of an element in a tuple.

In [58]:
t2=('a','b','c','a','d','e','a','b')
element='e'
count=0
for i in t2:
    if i==element:
        count+=1
print("The count of element is:",count)

The count of element is: 1

 5. Find the index of the first occurrence of an element in a tuple.

In [61]:
t2=('a','b','c','a','d','e','a','b')
element='c'
print("The element first occurence at index:",t2.index(element))

The element first occurence at index: 2

 6. Check if an element exists in a tuple.

In [62]:
t3=('my,name,is,rohit')
element=input("enter a word")
if element in t3:
    print("yes element found in list")
else:
    print("No element not found in list")

enter a word my

yes element found in list

 7. Convert a tuple to a list.

In [73]:
t3=('my','name','is','rohit')
converted_list=[t3]
print("Converted list is:",converted_list)

Converted list is: [('my', 'name', 'is', 'rohit')]

 8. Convert a list to a tuple.

In [69]:
list1=['my,name,is,rohit']
tuple1=tuple(list1)
print("Converted list into a tuple:",tuple1)

Converted list into a tuple: ('my,name,is,rohit',)

 9. Unpack the elements of a tuple into variables

In [78]:
t3=('my','name','is','rohit')
variable=1
for i in t3:
    print("Variabele",variable,"is:",i,end='\n')
    variable+=1

Variabele 1 is: my
Variabele 2 is: name
Variabele 3 is: is
Variabele 4 is: rohit

 10. Create a tuple of even numbers from 1 to 10.

In [98]:
t4=tuple([i for i in range(1,11) if i%2==0])
print("Tuple of even number is:",t4)

Tuple of even number is: (2, 4, 6, 8, 10)

 11. Create a tuple of odd numbers from 1 to 10.

In [100]:
t5=tuple([i for i in range(1,11) if i%2!=0])
print("Tuple of odd number is:",t5)

Tuple of odd number is: (1, 3, 5, 7, 9)

 12. Concatenate two tuples.

In [102]:
tuple1=(1,2,4,5)
tuple2=(6,7,8,9,1)
modified_tuple=tuple1+tuple2
print("Concatenated two tuples:",modified_tuple)

Concatenated two tuples: (1, 2, 4, 5, 6, 7, 8, 9, 1)

 13. Repeat a tuple three times.

In [112]:
tup1=('my','name','is','rohit')
print("---------printed tuple 3 times----------")
print(tup1,'\n',tup1,'\n',tup1)

---------printed tuple 3 times----------
('my', 'name', 'is', 'rohit')
 ('my', 'name', 'is', 'rohit')
 ('my', 'name', 'is', 'rohit')

 14. Check if a tuple is empty

In [113]:
t=()
if len(t)==0:
    print("the given tuple is empty")
else:
    print("No the given tuple is not an empty")

the given tuple is empty

 15. Create a nested tuple.

In [114]:
nested_tup=(1,2,3,(1,2,4),5,6)
print("Nested tuple:",nested_tup)

Nested tuple: (1, 2, 3, (1, 2, 4), 5, 6)

 16. Access the first element of a nested tuple.

In [115]:
nested_tup=(1,2,3,(1,2,4),5,6)
first_element=nested_tup[0]
print("First element:",first_element)

First element: 1

 17. Create a tuple with a single element.

In [120]:
tup2=(4)
print("This is the single element tuple:",tup2)

This is the single element tuple: 4

18. Compare two tuples.

In [122]:
t1=(1,2,3)
t2=(2,3,4)
print("t1==t2",t1==t2)
print("t1!=t2",t1!=t2)
print("t1<t2",t1<t2)
print("t1<=t2",t1<=t2)
print("t1>t2",t1>t2)
print("t1>=t2",t1>=t2)

t1==t2 False
t1!=t2 True
t1<t2 True
t1<=t2 True
t1>t2 False
t1>=t2 False

 19. Delete a tuple.

In [124]:
t1=(1,2,3)
del t1
print("now tuple is deled",t1)     #it will not execute cause now there is no existence of t1

NameError: name 't1' is not defined

 20. Slice a tuple.

In [125]:
tuple4=(2,4,6,8,0)
slice_tuple=tuple4[1:4]
print("Sliced touple:",slice_tuple)

Sliced touple: (4, 6, 8)

 21. Find the maximum value in a tuple.

In [126]:
tuple4=(2,4,6,8,0)
maximum=max(tuple4)
print("Maximum value:",maximum)

Maximum value: 8

22. Find the minimum value in a tuple.

In [127]:
tuple4=(2,4,6,8,0)
minimum=min(tuple4)
print("Minimum value:",minimum)

Minimum value: 0

 23. Convert a string to a tuple of characters.

In [130]:
str1="My name is rohit"
conv_tuple=tuple(str1.split())
print("Converted tuple:",conv_tuple)

Converted tuple: ('My', 'name', 'is', 'rohit')

 24. Convert a tuple of characters to a string.

In [136]:
tuple5=('My', 'name', 'is', 'rohit')
conv_to_str=' '.join(tuple5)
print("Converted string:",conv_to_str)

Converted string: My name is rohit

 25. Create a tuple from multiple data types.

In [137]:
multiple_data=('my',1,1.4,True,2j+1)
print("Tuples with multiple data collection:",multiple_data)

Tuples with multiple data collection: ('my', 1, 1.4, True, (1+2j))

 26. Check if two tuples are identical.

In [138]:
tup1=(1,2,4)
tup2=(1,2,4)
if tup1==tup2:
    print("Yes both the tuples are identical")
else:
    print("No, the touples are not identical")

Yes both the tuples are identical

 27. Sort the elements of a tuple.

In [143]:
tuple5=(9,8,5,3,2,0)
sorted_tuple=sorted(tuple5)
print("Sorted tuple:",sorted_tuple)

Sorted tuple: [0, 2, 3, 5, 8, 9]

 28. Convert a tuple of integers to a tuple of strings.

In [164]:
tuple5=(9,8,5,3,2,0)
converted_tuple=tuple(str(i) for i in tuple5)
print("Converted tuple:",converted_tuple)

Converted tuple: ('9', '8', '5', '3', '2', '0')

 29. Convert a tuple of strings to a tuple of integers.

In [166]:
tuple6=('9', '8', '5', '3', '2', '0')
convert_tuple=tuple(int(i) for i in tuple6)
print("Cnverted tuple:", convert_tuple)

Cnverted tuple: (9, 8, 5, 3, 2, 0)

30. Merge two tuples.

In [167]:
tuple1=('My','Name')
tuple2=('is','Rohit')
merge_tuple=tuple1+tuple2
print("Merged tuple:",merge_tuple)

Merged tuple: ('My', 'Name', 'is', 'Rohit')

 31. Flatten a nested tuple

In [248]:
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

In [287]:
def flat1(n):
    a=[]
    for sub in n:
        if type(sub)==tuple:
            a.extend(flat1(sub))
        else:
            a.append(sub)
    return tuple(a)

In [288]:
flat1(nested_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

 32. Create a tuple of the first 5 prime numbers

In [9]:
def get_prime(n):
    list1=[]
    list2=range(2,n+1)
    prime=[]
    for i in range(2,n+1):
        for j in range(2,n+1):
            if j<i and i%j==0:
                list1.append(i)
    for i in list2:
        if i not in list1:
            prime.append(i)
    return tuple(prime)

In [10]:
get_prime(10)

(2, 3, 5, 7)

33. Check if a tuple is a palindrome

In [79]:
tuple1=("MOM")
if tuple1[:]==tuple1[::-1]:
    print("Yes the given tuple is palindrome")
else:
    print("No the tuple is not a palindrom")

Yes the given tuple is palindrome

34. Create a tuple of squares of numbers from 1 to 5

In [96]:
t1=range(1,6)
tuple2=tuple([i**2 for i in t1])
print("tuple of square:",tuple2)

tuple of square: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [97]:
t3=range(0,11)
tuple3=tuple([i for i in t3 if i%2==0])
print("tuple of even numbers:",tuple3)

tuple of even numbers: (0, 2, 4, 6, 8, 10)

 36. Multiply all elements in a tuple by 2

In [99]:
t4=range(1,11)
tuple4=tuple([i*2 for i in t4])
print("Multiplied elements by 2:",tuple4)

Multiplied elements by 2: (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers

In [100]:
import random

In [115]:
randum_tuple=tuple(random.randint(1,100) for i in range(10))
print("This is random number's tuple:",randum_tuple)

This is random number's tuple: (87, 77, 76, 39, 18, 89, 25, 56, 72, 15)

 38. Check if a tuple is sorted

In [131]:
t5=(1,4,6,3,2,0)
if t5==tuple(sorted(t5)):
    print("yes the tuple is sorted")
else:
    print("No the tuple is not sorted")

No the tuple is not sorted

 39. Rotate a tuple to the left by `n` positions.

In [135]:
def rotate_tupleL(n,tuple):
    n=n%len(tuple)
    rotate_tuple=tuple[n:]+tuple[:n]
    print(rotate_tuple)

In [136]:
tup1=(1,2,3,4,5)
rotate_tupleL(2,tup1)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions

In [139]:
def rotate_tupleR(n,tuple):
    n=n%len(tuple)
    rotate=tuple[-n:]+tuple[:-n]
    print(rotate)

In [140]:
tup1=(1,2,3,4,5)
rotate_tupleR(2,tup1)

(4, 5, 1, 2, 3)

 41. Create a tuple of the first 5 Fibonacci numbers.

In [27]:
def fibo(n):
    a=0
    b=1
    next_fib=b
    fibo=[]
    for i in range(0,n+1):
        if i<=1:
            fibo.append(i)
        else:
            fibo.append(next_fib)
            a,b=b,next_fib
            next_fib=a+b
    return tuple(fibo)

In [28]:
fibo(5)

(0, 1, 1, 2, 3, 5)

42. Create a tuple from user input.

In [165]:
str1=input("enter a word").split()
u_tuple=tuple(str1)
print(u_tuple)

enter a word my name is rohit

('my', 'name', 'is', 'rohit')

43. Swap two elements in a tuple.

In [180]:
tup=(1,2,3,4,5,6,7)
a=2
b=5
temp_list=list(tup)
temp_list[a],temp_list[b]=temp_list[b],temp_list[a]
swap_tuple=tuple(temp_list)

print("Swap tuple:",swap_tuple)

Swap tuple: (1, 2, 6, 4, 5, 3, 7)

 44. Reverse the elements of a tuple

In [182]:
tup6=('my','name','is','Rohit')
reverse_tup6=tup6[::-1]
print(reverse_tup6)

('Rohit', 'is', 'name', 'my')

 45. Create a tuple of the first `n` powers of 2.

In [194]:
def power_of_2(n):
    power=[]
    for i in range(0,n+1):
        i=2**i
        power.append(i)
    print("first",n,"powers of 2:",tuple(power))

In [196]:
power_of_2(5)

first 5 powers of 2: (1, 2, 4, 8, 16, 32)

46. Find the longest string in a tuple of strings.

In [208]:
tup4=('have','to','wake','up','early')
from functools import reduce
maximum_str=reduce(lambda x,y: x if len(x)>len(y) else y,tup4)
print("The longest string in given tuple is:", maximum_str)

The longest string in given tuple is: early

 47. Find the shortest string in a tuple of strings.

In [210]:
tup4=('have','to','wake','up','early')
from functools import reduce
min_str=reduce(lambda x,y: x if len(x)<len(y) else y,tup4)
print("The Shortest string in given tuple is:", min_str)

The Shortest string in given tuple is: up

 48. Create a tuple of the first `n` triangular numbers.

In [224]:
def triangular_number(n):
    triangular_num=[]
    for i in range(1,n+1):
        i=int(i*(i+1)/2)
        triangular_num.append(i)
    return tuple(triangular_num)

In [225]:
triangular_number(5)

(1, 3, 6, 10, 15)

 49. Check if a tuple contains another tuple as a subsequence.

In [278]:
def check_subsequence(t1,t2):
    for i in t2:
        if i  in t1:
            continue
        return "it does not contain another tuple as a subsequense"
    return "it contain another tuple as a subsequense"

In [279]:
main_tuple=(1,2,3,4,5)
sub_tuple=(3,4,5)

In [280]:
check_subsequence(main_tuple,sub_tuple)

'it contain another tuple as a subsequense'

50. Create a tuple of alternating 1s and 0s of length `n`

In [281]:
n=15
tuple50=tuple(i%2 for i in range(n))
print(tuple50)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

### Set Based Practice Problem :

 1. Create a set with integers from 1 to 5

In [285]:
set1={i for i in range(1,6)}
print(set1)

{1, 2, 3, 4, 5}

 2. Add an element to a set.

In [288]:
set2={1, 2, 3, 4, 5}
set2.add(6)     #added an element
print(set2)

{1, 2, 3, 4, 5, 6}

 3. Remove an element from a set.

In [289]:
set3={1, 2, 3, 4, 5, 6}
set3.remove(3)   #remvoed the element
print(set3)

{1, 2, 4, 5, 6}

 4. Check if an element exists in a set.

In [291]:
set4={1, 2, 3, 4, 5, 6}
element=int(input("please enter a number"))
if element in set4:
    print("yes element exists in a set")
else:
    print("No element exists in a set")

please enter a number 4

yes element exists in a set

5. Find the length of a set without using the `len()` function.

In [292]:
set5={1, 2, 3, 4, 5, 6}
count=0
for i in set5:
    count+=1
print(count)

6

 6. Clear all elements from a set.

In [301]:
set6={1, 2, 3, 4, 5, 6}
set6.clear()    #clear the set
print(set6)

set()

 7. Create a set of even numbers from 1 to 10.

In [304]:
even_num={i for i in range(1,11) if i%2==0}
print(even_num)

{2, 4, 6, 8, 10}

 8. Create a set of odd numbers from 1 to 10.

In [305]:
odd_num={i for i in range(1,11) if i%2!=0}
print(odd_num)

{1, 3, 5, 7, 9}

 9. Find the union of two sets.

In [307]:
set9={1,2,3,4,5}
set10={4,5,6,7,8}
set_union=set9.union(set10)
print("Union of two sets:",set_union)

Union of two sets: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets

In [311]:
set9={1,2,3,4,5}
set10={4,5,6,7,8}
intersection_set=set9.intersection(set10)
print("Intersection of two sets",intersection_set)

Intersection of two sets {4, 5}

 11. Find the difference between two sets.

In [317]:
set9={1,2,3,4,5}
set10={4,5,6,7,8}
a=set9.difference(set10)
b=set10.difference(set9)
print("difference between two sets:",a,b)

difference between two sets: {1, 2, 3} {8, 6, 7}

 12. Check if a set is a subset of another set.

In [319]:
set1={4,5,6}
set2={4,5,6,7,8}
issuperset=set2.issuperset(set1)
print("Is set2 is superset of set1:",issuperset)

Is set2 is superset of set1: True

 13. Check if a set is a superset of another set.

In [320]:
set1={4,5,6}
set2={4,5,6,7,8}
issubset=set1.issubset(set2)
print("Is set1 is subset of set2:",issubset)

Is set1 is subset of set2: True

 14. Create a set from a list.

In [3]:
list_=[1,2,3,4,5,6]
set1= set(list_)
print("\nOriginal List:",list_,"\n Converted into set:",set1)

Original List: [1, 2, 3, 4, 5, 6]
 Converted into set: {1, 2, 3, 4, 5, 6}

 15. Convert a set to a list.

In [6]:
set1={1, 2, 3, 4, 5, 6}
list1=list(set1)
print("Original set:",set1,"\nConverted list:",list1)

Original set: {1, 2, 3, 4, 5, 6}
Converted list: [1, 2, 3, 4, 5, 6]

 16. Remove a random element from a set.

In [2]:
import random

In [4]:
set2={2,3,5,6,7,8}
random_element=random.choice(list(set2)) #will select random element
set2.remove(random_element)
print("Set after removing an element:",set2)

Set after removing an element: {3, 5, 6, 7, 8}

 17. Pop an element from a set.

In [7]:
set2={2,3,5,6,7,8}
pop_element=set2.pop()
print(" POP element:",pop_element,"\n Set after pop",set2)

 POP element: 2
 Set after pop {3, 5, 6, 7, 8}

18. Check if two sets have no elements in common

In [9]:
set1={1,2,3,4,5}
set2={6,7,8,9,1}
common_element=set1.intersection(set2)
if not common_element:
    print("No common elements found")
else:
    print("The set have common element",common_element)

The set have common element {1}

 19. Find the symmetric difference between two sets.

In [12]:
set1={1,2,3,4}
set2={3,4,5,6}

sym_different=set1^set2
print("Symmetric difference:",sym_different)

Symmetric difference: {1, 2, 5, 6}

 20. Update a set with elements from another set.

In [3]:
set1={1,2,3,4}
set2={3,4,5,6}
set2.update(set1) #have updated the set2 with set1
print("Updated Set:", set2)

Updated Set: {1, 2, 3, 4, 5, 6}

 21. Create a set of the first 5 prime numbers.

In [11]:
def get_prime(n):
    list1=[]
    list2=range(2,n+1)
    prime=[]
    for i in range(2,n+1):
        for j in range(2,n+1):
            if j<i and i%j==0:
                list1.append(i)
    for i in list2:
        if i not in list1:
            prime.append(i)
    return set(prime)

In [12]:
get_prime(20)

{2, 3, 5, 7, 11, 13, 17, 19}

22. Check if two sets are identical.

In [43]:
set1={2,3,5,6,3}
set2={2,3,5,6}
if set1==set2:
    print("Yes two sets are identical")
else:
    print("No two sets are not identical")

Yes two sets are identical

23. Create a frozen set.

In [45]:
set3={1,2,4,3,5}
frozen=frozenset(set3)
print("Frozen set:",frozen)

Frozen set: frozenset({1, 2, 3, 4, 5})

 24. Check if a set is disjoint with another set

In [46]:
set_a={1,2,3,4}
set_b={5,6,7,8}
isdisjoin=set_a.isdisjoint(set_b)
print("Is disjoint set:",isdisjoin)

Is disjoint set: True

25. Create a set of squares of numbers from 1 to 5.

In [48]:
n=5
square_set={i**2 for i in range(1,n+1)}
print("Square set:",square_set)

Square set: {1, 4, 9, 16, 25}

 26. Filter out all even numbers from a set

In [49]:
set2={1,2,3,4,5,6,7,8,9,10}
even_set={i for i in set2 if i%2==0}
print("Even set:",even_set)

Even set: {2, 4, 6, 8, 10}

 27. Multiply all elements in a set by 2.

In [51]:
set3={1,2,3,4,5}
multiply_set={i*2 for i in set3}
print("Multiply set:",multiply_set)

Multiply set: {2, 4, 6, 8, 10}

 28. Create a set of random numbers.

In [53]:
import random

In [59]:
random_set={random.randint(55,120) for i in range(10)}
print(random_set)

{65, 100, 104, 73, 83, 55, 87, 92}

 29. Check if a set is empty.

In [61]:
set4={1}
if set4:
    print("Set is not empty")
else:
    print("Yes set is an empty")

Set is not empty

 30. Create a nested set (hint: use frozenset).

In [67]:
set1=frozenset({1,2,3,4,5})
set2=frozenset({3,4,5,6,7})
nested_set={set1,set2}
print("Nested set:",nested_set)

Nested set: {frozenset({1, 2, 3, 4, 5}), frozenset({3, 4, 5, 6, 7})}

 31. Remove an element from a set using the discard method.

In [69]:
set6={1,2,3,4,5}
print("Original set:",set6)

set6.discard(4)
print("Set after removing element using discard:",set6)

Original set: {1, 2, 3, 4, 5}
Set after removing element using discard: {1, 2, 3, 5}

 32. Compare two sets

In [73]:
set1={3,4,5}
set2={4,5,6}
print('__________comparing two sets___________')
print("set1==set2:",set1==set2,"\nset1!=set2:",set1!=set2,"\nset1<set2:",set1<set2,"\nset1<=set2:",set1<=set2,"\nset1>set2:",set1>set2,"\nset1>=set2:",set1>=set2)

__________comparing two sets___________
set1==set2: False
set1!=set2: True
set1<set2: False
set1<=set2: False
set1>set2: False
set1>=set2: False

33. Create a set from a string

In [74]:
string="Rohit"
My_set=set(string)
print("Converted Result:",My_set)

Converted Result: {'R', 'h', 'o', 'i', 't'}

 34. Convert a set of strings to a set of integers.

In [75]:
set_str={'1','2','3'}
int_set={int(i) for i in set_str}
print("Result after converting string into int:",int_set)

Result after converting string into int: {1, 2, 3}

35. Convert a set of integers to a set of strings

In [77]:
int_set1={1, 2, 3}
str_set={str(i) for i in int_set1}
print("Result after converting int into string:",str_set)

Result after converting int into string: {'2', '1', '3'}

36. Create a set from a tuple.

In [79]:
tup1=("Rohit")
converted_set=set(tup1)
print("Result:",converted_set)

Result: {'R', 'h', 'o', 'i', 't'}

 37. Convert a set to a tuple.

In [80]:
O_set={1,2,3,4}
con_tup=tuple(O_set)
print("Result:",con_tup)

Result: (1, 2, 3, 4)

 38. Find the maximum value in a set.

In [81]:
from functools import reduce

In [90]:
set_num={2,4,6,8,9,2,4,32}
maximum_value=reduce(lambda x,y: x if x>y else y,set_num)
print("Maximum value in a set:",maximum_value)

Maximum value in a set: 32

 39. Find the minimum value in a set.

In [91]:
from functools import reduce
set_num={2,4,6,8,9,2,4,32}
minimum_value=reduce(lambda x,y: x if x<y else y,set_num)
print("Minimum value in a set:",minimum_value)

Minimum value in a set: 2

 40. Create a set from user input

In [94]:
uset_input_set=set(input("Please enter something"))
print("Result:",uset_input_set)

Please enter something 123456789

Result: {'8', '2', '4', '7', '6', '1', '3', '5', '9'}

41. Check if the intersection of two sets is empty

In [97]:
set1={1,2,4,3,5}
set2={8,9,10}
intersec_set=set1.intersection(set2)
if intersec_set:
    print("Is intersection of two sets is empty: False")
else:
    print("Is intersection of two sets is empty: True")

Is intersection of two sets is empty: True

 42. Create a set of the first 5 Fibonacci numbers

In [29]:
fibbo=[]
fibbo_set=set(fibbo)
a=0
b=1
nextfib=a+b
for i in range(5):
    if i<=1:
        fibbo.append(i)
    else:
        fibbo.append(nextfib)
        a,b=b,nextfib
        nextfib=a+b
print(fibbo)

[0, 1, 1, 2, 3]

 43. Remove duplicates from a list using sets

In [106]:
lst=[1,2,1,4,6,7,]
set_lst=list(set(lst)) #this will remove duplicate with the help of set
print("Result:",set_lst)

Result: [1, 2, 4, 6, 7]

44. Check if two sets have the same elements, regardless of their count.

In [111]:
def same_elemnt(set1,set2):
    set1=sorted(set1)
    set2=sorted(set2)
    if set1==set2:
        print("yes the set have same element")
    else:
        print("NO the set does not have same element")

set1={1,2,1,2,1,2,4,3}
set2={1,2,3,4}
same_elemnt(set1,set2)

yes the set have same element

 45. Create a set of the first `n` powers of 2

In [126]:
n=int(input('enter number'))
power_of_2={2**i for i in range(n)}
set_power=set(sorted(power_of_2))
print('Result:',set_power)

enter number 5

Result: {1, 2, 4, 8, 16}

 46. Find the common elements between a set and a list.

In [133]:
list_1=[1,2,3,5,4]
set_1={1,2,6,7,4}
common=[]
for i in set1:
    if i in list_1:
        common.append(i)
if common:
    print("Common elements:",common)
else:
    print("there is no common element found")

Common elements: [1, 2, 3, 4]

 47. Create a set of the first `n` triangular numbers.

In [139]:
n=int(input('enter a number'))
Triangular_num={int(i*(i+1)/2) for i in range(1,n+1)}
print(n," Triangular number:",Triangular_num)

enter a number 10

10  Triangular number: {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

 48. Check if a set contains another set as a subset

In [142]:
set1={1,2,3,4}
set2={3,4}
check_subset=set2.issubset(set1)
if check_subset:
    print("Yes set contains another set as a subset")
else:
    print("NO set does not contains another set as a subset")

Yes set contains another set as a subset

 49. Create a set of alternating 1s and 0s of length `n`

In [152]:
n=int(input('enter value'))
set_alternate={i%2 for i in range(n)}
print("Result:" ,set_alternate)

enter value 5

Result: {0, 1}

 50. Merge multiple sets into one.

In [153]:
a={1,2,3}
b={4,5,6,7}
c={8,9,0,10}
merge_set=a.union(b,c)
print("Merge Set:",merge_set)

Merge Set: {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}